<h1> Listing keywords </h1>

<table class="table table-hover">
  <tr>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
  <tbody>
    <% @keywords.each do |keyword| %>
      <tr>
        <td><%= keyword.text %></td>
        <td><%= link_to 'Show', keyword_path(keyword) %></td>
        <td><%= link_to 'Edit', edit_keyword_path(keyword) %></td>
        <td><%= link_to 'Delete', keyword_path(keyword),
          method: :delete,
          data: { confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </body>
</table>

<%= link_to 'New Keyword', new_keyword_path %>
|
<%= link_to "Download as CSV", keywords_path(format: "csv") %>
