<h1> Keyword list </h1>

<button type="button" class="btn btn-default btn-lg"><%= link_to 'New Keyword', new_keyword_path %></button>
<button type="button" class="btn btn-default btn-lg"><%= link_to "Download as .xlsx", keywords_path(format: "xlsx") %></button>

<h3> Import Keywords </h3>
<%= form_tag import_keywords_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload keywords" %>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Text</th>
      <th>Results</th>
      <th>ID path</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @keywords.each do |keyword| %>
      <tr>
        <td><%= keyword.text %></td>
        <td><%= keyword.get_result_count %></td>
        <td><%= keyword.get_cat_info %></td>
        <td><%= link_to 'Show', keyword_path(keyword) %></td>
        <td><%= link_to 'Edit', edit_keyword_path(keyword) %></td>
        <td><%= link_to 'Delete', keyword_path(keyword),
          method: :delete,
          data: { confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </body>
</table>
